In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# loading of data
odi = pd.read_csv('ODI_Analytics.csv')
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135

In [4]:
# Data summary
odi.shape

(55926, 8)

In [5]:
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    55926 non-null  object
 1   Player     55926 non-null  object
 2   Runs       55898 non-null  float64
 3   ScoreRate  55896 non-null  float64
 4   MatchDate  55926 non-null  object
 5   Ground     55926 non-null  object
 6   Versus     55926 non-null  object
 7   URL        55926 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.4+ MB

In [6]:
# Stats summary
odi.describe()

               Runs     ScoreRate
count  55898.000000  55896.000000
mean      22.242155     65.318882
std       25.558519     44.211552
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.680000
75%       32.000000     87.500000
max      200.000000    600.000000

In [7]:
# Stat summary for all columns(num,vat)
odi.describe(include='all')

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
count,55926,55926,55898.000000,55896.000000,55926,55926,55926,55926
unique,22,1936,NaN,NaN,2757,178,25,3209
top,India,Sachin R Tendulkar,NaN,NaN,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1708
freq,6634,442,NaN,NaN,108,3581,7216,22
mean,NaN,NaN,22.242155,65.318882,NaN,NaN,NaN,NaN
std,NaN,NaN,25.558519,44.211552,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,37.500000,NaN,NaN,NaN,NaN
50%,NaN,NaN,13.000000,62.680000,NaN,NaN,NaN,NaN
75%,NaN,NaN,32.000000,87.500000,NaN,NaN,NaN,NaN
max,NaN,NaN,200.000000,600.000000,NaN,NaN,NaN,NaN

In [9]:
# missing values in data
odi.isnull().sum()

Country       0
Player        0
Runs         28
ScoreRate    30
MatchDate     0
Ground        0
Versus        0
URL           0
dtype: int64

In [33]:
odi.nunique()

Country         22
Player        1936
Runs           180
ScoreRate     4196
MatchDate     2757
Ground         178
Versus          25
URL           3209
year            41
month           12
day             31
quarter          4
Weekend          2
Century          2
Fifty            2
Duckouts         2
Nervous90s       2
year_bin         5
dtype: int64

In [ ]:
odi.u

In [13]:
# Handling missing values
odi['Runs'].fillna(odi['Runs'].median(), inplace=True)
odi.isnull().sum()

Country       0
Player        0
Runs          0
ScoreRate    30
MatchDate     0
Ground        0
Versus        0
URL           0
dtype: int64

In [12]:
odi

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135
...,...,...,...,...,...,...,...,...
55921,Zimbabwe,Waddington Mwayenga,0.0,0.00,5-27-2004,Harare Sports Club,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2226
55922,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-10-2006,Sardar Patel Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2529
55923,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-8-2006,Sardar Patel Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2528
55924,Zimbabwe,Tafadzwa Kamungozi,0.0,0.00,10-13-2006,Sawai Mansingh Stadium,Bangladesh,../Matches/MatchScorecard_ODI.asp?MatchCode=2531
55925,Zimbabwe,Njabulo Ncube,0.0,0.00,10-25-2011,Queens Sports Club,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=3345

In [10]:
odi['Runs']

0        118.0
1        110.0
2        100.0
3         82.0
4         57.0
         ...
55921      0.0
55922      0.0
55923      0.0
55924      0.0
55925      0.0
Name: Runs, Length: 55926, dtype: float64

## Why 'Median' instead of 'mean()'?
- if outlier is present in colum, using mean can be bias the replacement

In [14]:
odi['ScoreRate'].fillna(odi['ScoreRate'].median(), inplace=True)
print(odi.isnull().sum())

Country      0
Player       0
Runs         0
ScoreRate    0
MatchDate    0
Ground       0
Versus       0
URL          0
dtype: int64

In [16]:
odi.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
55921    False
55922    False
55923    False
55924    False
55925    False
Length: 55926, dtype: bool

In [15]:
duplicate_odi = odi.duplicated().sum()
duplicate_odi

0

In [ ]:
# odi.drop_duplicates()

In [ ]:
# Feature engineering
1. Convert matchdate to datetime
    1. extract day,month, year,weekend,qauter
2. Categorization

In [17]:
odi['MatchDate'] = pd.to_datetime(odi['MatchDate'])
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    55926 non-null  object
 1   Player     55926 non-null  object
 2   Runs       55926 non-null  float64
 3   ScoreRate  55926 non-null  float64
 4   MatchDate  55926 non-null  datetime64[ns]
 5   Ground     55926 non-null  object
 6   Versus     55926 non-null  object
 7   URL        55926 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.4+ MB

In [18]:
odi["year"] = odi["MatchDate"].dt.year
odi["month"] = odi["MatchDate"].dt.month
odi["day"] = odi["MatchDate"].dt.day
odi["quarter"] = odi["MatchDate"].dt.quarter
odi["Weekend"] = odi["MatchDate"].dt.day_name().isin(['Saturday', 'Sunday'])

odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False

In [ ]:
# Categorizing the player runs under caentury, fifty, duckouts, nervou90

1. Century : runs >=100
2. fifty : 50 <= and <100
3. Duckout : =0
4. nervous90 : 90 <= and <100

In [19]:
# .apply() - used whenever yo have function(udf/lambda) to apply over column
odi['Century'] = odi['Runs'].apply(lambda x: 1 if x >= 100 else 0)

odi['Fifty'] = odi['Runs'].apply(lambda x: 1 if 50 <= x < 100 else 0)

odi['Duckouts'] = odi['Runs'].apply(lambda x: 1 if x == 0 else 0)

odi['Nervous90s'] = odi['Runs'].apply(lambda x: 1 if 90 <= x < 100 else 0)

odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend,Century,Fifty,Duckouts,Nervous90s
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False,1,0,0,0
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False,1,0,0,0
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False,1,0,0,0
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True,0,1,0,0
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False,0,1,0,0

In [ ]:
# 3. Replace default labes of years to decade category '1970 - 2020'
[1970-1979]
1980-1989
1990-1999
-----2020

In [20]:
odi['year_bin'] = np.digitize(odi['year'],bins=[1979,1989,1999,2009,2019])
odi['year_bin'].unique()

array([4, 3, 2, 1, 0])

bin1-1970s(years bttw 1970-1979)
bin2-1980s(year btw 1980-1989)

In [21]:
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL,year,month,day,quarter,Weekend,Century,Fifty,Duckouts,Nervous90s,year_bin
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2010-02-16,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087,2010,2,16,1,False,1,0,0,0,4
1,Afghanistan,Mohammad Shahzad,110.0,99.09,2009-09-01,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008,2009,9,1,3,False,1,0,0,0,4
2,Afghanistan,Mohammad Shahzad,100.0,138.88,2010-08-16,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164,2010,8,16,3,False,1,0,0,0,4
3,Afghanistan,Mohammad Shahzad,82.0,75.92,2010-07-10,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153,2010,7,10,3,True,0,1,0,0,4
4,Afghanistan,Mohammad Shahzad,57.0,100.00,2010-07-01,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135,2010,7,1,3,False,0,1,0,0,4

# INternational-player
- Top 5 in centrueies, fifties,dickouts...
# Indian Player
- Top 5 in centuries,,,,,

## Top 5 international palyer centuries
1. groupby - player
2. groupby aggreateion - century.sum
3. sort
4. head(5)

In [23]:
top_cent = odi.groupby('Player')['Century'].sum().sort_values(ascending=False).head(5)
top_cent

Player
Sachin R Tendulkar     48
Ricky T Ponting        30
Sanath T Jayasuriya    28
Sourav C Ganguly       22
Herschelle H Gibbs     21
Name: Century, dtype: int64

In [27]:
top_fifty = odi.groupby('Player')['Fifty'].sum().sort_values(ascending=False).head(5)
top_fifty

Player
Sachin R Tendulkar    95
Jacques H Kallis      84
Rahul Dravid          83
Inzamam-ul-Haq        83
Ricky T Ponting       82
Name: Fifty, dtype: int64

In [28]:
top_duc = odi.groupby('Player')['Duckouts'].sum().sort_values(ascending=False).head(5)
top_duc

Player
Muttiah Muralitharan     41
Sanath T Jayasuriya      34
Wasim Akram              32
Glenn D McGrath          32
W P U J Chaminda Vaas    30
Name: Duckouts, dtype: int64

In [29]:
top_ner = odi.groupby('Player')['Nervous90s'].sum().sort_values(ascending=False).head(5)
top_ner

Player
Sachin R Tendulkar        18
Pinnaduwage A de Silva     9
Grant W Flower             9
Nathan J Astle             9
Jacques H Kallis           8
Name: Nervous90s, dtype: int64

# Map Vs Apply

In [31]:
data = {
    'col1':[1,2,3],
    'col2':[4,5,6]
}
df = pd.DataFrame(data)
df

   col1  col2
0     1     4
1     2     5
2     3     6

# Map 

1. Used for mapping out values
    1.1. Applied on series(1 colm)
2. Cannot handle complex logic

# Apply

1. Used for complex logic
2. Applied on series + Dataframe(>1 colum)